<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>499005319478-rgr0sft8jk7rjntei4r4t16jrlcash9m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.499005319478-rgr0sft8jk7rjntei4r4t16jrlcash9m</string>
	<key>API_KEY</key>
	<string>AIzaSyCuFH9FlabfcE5WKyiEo9WfgA4k23fXGWo</string>
	<key>GCM_SENDER_ID</key>
	<string>499005319478</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.elrazzaq</string>
	<key>PROJECT_ID</key>
	<string>elrazzak-b66df</string>
	<key>STORAGE_BUCKET</key>
	<string>elrazzak-b66df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:499005319478:ios:0e2897eb45991ef31e2b97</string>
</dict>
</plist>